# === Node / React (en cualquier carpeta) ===
node_modules/
**/node_modules/
dist/
build/

# Front específico
front/node_modules/
front/dist/
front/.vite/

# === Python / Django ===
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
env/
.env
staticfiles/
media/

# === IDE / OS ===
.vscode/
.idea/
.DS_Store
Thumbs.db
