# Backend / Python / Django
__pycache__/
*.py[cod]
*.sqlite3
.venv/
env/
.env
staticfiles/
media/
venv/


# Front (por si se ejecuta git desde la raíz)
front/node_modules/
front/dist/
front/.vite/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
